* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #ffffff;
}

header {
    background-color: #20A14C;
    margin: 0;
    margin-top: 45px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 40px;
    margin-left: 50px;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    line-height: 80px;
}

nav a, nav a:visited {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}

#header-img, #background {
    width: 100%;
}

#background-img {
    width: 100%;
}

#photo-bar {
    background-color: #DCC72C;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-image {
   height: 80%;
}

#info {
    background-color: #DC592C;
    height: 199px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img {
    width: 100%;
    margin: 25px 0px 25px 0px;
}

.bottom-text {
    height: 100%;
}